/Network.class
/Connection.class
/Packets.class
/Handler.class
/PacketBuilder.class
/Receive.class
/Send.class
/ImplPacketHandler.class
/PacketProcessor.class
/RecvPacketOpcodes.class
/SendPacketOpcodes.class
/Packet.class
